<div class="container-fluid mx-auto my-2 py-5">
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item" (click)="changeActive('aluno')">
      <p
        class="nav-link"
        [ngClass]="tipoConteudoAtivo === 'aluno' ? 'active' : 'disabled'"
        aria-current="page"
        href=""
      >
        Dados pessoais
      </p>
    </li>
    <li class="nav-item" (click)="changeActive('endereco')">
      <p
        class="nav-link"
        [ngClass]="tipoConteudoAtivo === 'endereco' ? 'active' : 'disabled'"
        aria-current="page"
        href=""
      >
        Endereço
      </p>
    </li>
    <li class="nav-item" (click)="changeActive('avaliacoes')">
      <p
        class="nav-link"
        [ngClass]="tipoConteudoAtivo === 'avaliacoes' ? 'active' : 'disabled'"
        aria-current="page"
        href=""
      >
        Avaliações
      </p>
    </li>
  </ul>

  <div
    *ngIf="isLoading"
    class="container d-flex justify-content-center align-items-center"
    id="ctn-loader"
  >
    <app-loader></app-loader>
  </div>

  <div *ngIf="!isLoading && tipoConteudoAtivo === 'aluno'">
    <table class="table table-hover" id="tbl-endereco">
      <tbody>
        <tr>
          <td class="fw-bold">ID:</td>
          <td>{{ aluno.id }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Nome:</td>
          <td>{{ aluno.nome }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Telefone:</td>
          <td>{{ aluno.telefone }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Data de Nascimento:</td>
          <td>{{ aluno.dataNascimento | date : "dd/MM/yyyy" }}</td>
        </tr>
      </tbody>
    </table>

    <div class="row flex justify-content-center">
      <button
      type="button"
      class="btn btn-secondary col-3"
      id="btn-close"
      (click)="backHome()"
    >
      <i class="bi bi-x-lg"></i> Fechar
    </button>

    <button class="btn btn-primary col-7" (click)="editInfo()">
      <i class="bi bi-pencil-square" style="color: #ffffff"></i> Editar
      informações pessoais
    </button>
    </div>
  </div>

  <div *ngIf="!isLoading && tipoConteudoAtivo === 'endereco'" class="mt-3">
    <p class="mb-3 fw-bold" *ngFor="let parte of enderecoFormatado">
      {{ parte }}
    </p>

    <button
      type="button"
      class="btn btn-secondary"
      id="btn-close"
      (click)="backHome()"
    >
      <i class="bi bi-x-lg"></i> Fechar
    </button>

    <button class="btn btn-primary">
      <i class="bi bi-pencil-square" style="color: #ffffff"></i> Editar endereço
    </button>
  </div>

  <div *ngIf="!isLoading && tipoConteudoAtivo === 'avaliacoes'">
    <table
      *ngIf="aluno.avaliacoes && aluno.avaliacoes.length !== 0"
      class="table table-hover"
      id="tbl-avaliacoes"
    >
      <thead>
        <tr>
          <th>ID</th>
          <th>Data</th>
          <th>Peso</th>
          <th>Altura</th>
          <th>Medidas</th>
          <th>Porcentagem de gordura</th>
          <th>Observações</th>
          <th>Editar</th>
          <th>Apagar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let avaliacao of aluno.avaliacoes">
          <td>{{ avaliacao.id }}</td>
          <td>{{ avaliacao.data | date : "dd/MM/yyyy" }}</td>
          <td>{{ avaliacao.peso }}kg</td>
          <td>{{ avaliacao.altura * 100 }}cm</td>
          <td>
            {{ avaliacao.medidas[0] }} cm, {{ avaliacao.medidas[1] }} cm,
            {{ avaliacao.medidas[2] }} cm
          </td>
          <td>{{ avaliacao.porcentagemGordura }}%</td>
          <td>{{ avaliacao.observacoes }}</td>
          <td class="text-center">
            <button class="btn btn">
              <i class="bi bi-pencil-square"></i>
            </button>
          </td>
          <td class="text-center">
            <button class="btn">
              <i class="bi bi-trash3-fill p-1"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="!aluno.avaliacoes || aluno.avaliacoes.length === 0">
      <app-alert-info
        [message]="
          'O aluno com ID ' +
          alunoId +
          ' ainda não possui avaliações cadastradas.'
        "
      >
      </app-alert-info>
      <div class="row flex justify-content-center">
        <button
          class="btn btn-outline-success col-6 me-5 mb-3"
          id="btn-create"
          data-bs-dismiss="alert"
          aria-label="Close"
        >
          <i class="bi bi-plus-lg"></i>Criar nova avaliação
        </button>
      </div>

      <div class="row flex justify-content-center">
        <button
          type="button"
          class="btn btn-secondary col-4 me-1 mb-3"
          id="btn-close"
          (click)="backHome()"
        >
          <i class="bi bi-x-lg"></i> Fechar
        </button>
      </div>
    </div>
  </div>
</div>
