ul > li{
  cursor: pointer;
}

#tbl-endereco {
  max-width: 40vw;
}

#tbl-avaliacoes {
  max-width: 95vw;
}

.bi-pencil-square {
  color: rgb(104, 163, 104);
}
.bi-trash3-fill {
  color: rgb(163, 104, 104);
}
