<div class="container my-2">
  <ul class="nav nav-tabs">
    <li class="nav-item" (click)="changeActive()">
      <p
        class="nav-link"
        [ngClass]="active ? 'active' : 'disabled'"
        aria-current="page"
        href=""
      >
        Endereço
      </p>
    </li>
    <li class="nav-item" (click)="changeActive()">
      <p class="nav-link" [ngClass]="!active ? 'active' : 'disabled'" href="">
        Avaliações
      </p>
    </li>
  </ul>

  <div
    *ngIf="isLoading"
    class="container d-flex justify-content-center align-items-center"
    id="ctn-loader"
  >
    <app-loader></app-loader>
  </div>
  <div *ngIf="!isLoading && active">
    <table class="table table-hover" id="tbl-endereco">
      <tbody>
        <tr>
          <td class="fw-bold">ID:</td>
          <td>{{ endereco.id }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Logradouro:</td>
          <td>{{ endereco.logradouro }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Número:</td>
          <td>{{ endereco.numero }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Bairro:</td>
          <td>{{ endereco.bairro }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Cidade:</td>
          <td>{{ endereco.cidade }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Estado:</td>
          <td>{{ endereco.estado }}</td>
        </tr>
        <tr>
          <td class="fw-bold">CEP:</td>
          <td>{{ endereco.cep }}</td>
        </tr>
      </tbody>
    </table>

    <button
      type="button"
      class="btn btn-secondary"
      id="btn-close"
      (click)="backHome()"
    >
      <i class="bi bi-x-lg"></i> Fechar
    </button>

    <button class="btn btn-primary">
      <i class="bi bi-pencil-square" style="color: #ffffff"></i> Editar endereço
    </button>
  </div>

  <div *ngIf="!isLoading && !active">
    <table
      *ngIf="avaliacoes.length !== 0"
      class="table table-hover"
      id="tbl-avaliacoes"
    >
      <thead>
        <tr>
          <th>ID</th>
          <th>Data</th>
          <th>Peso</th>
          <th>Altura</th>
          <th>Medidas</th>
          <th>Porcentagem de gordura</th>
          <th>Observações</th>
          <th>Editar</th>
          <th>Apagar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let avaliacao of avaliacoes">
          <td>{{ avaliacao.id }}</td>
          <td>{{ avaliacao.data | date : "dd/MM/yyyy" }}</td>
          <td>{{ avaliacao.peso }}kg</td>
          <td>{{ avaliacao.altura * 100 }}cm</td>
          <td>
            {{ avaliacao.medidas[0] }} cm, {{ avaliacao.medidas[1] }} cm,
            {{ avaliacao.medidas[2] }} cm
          </td>
          <td>{{ avaliacao.porcentagemGordura }}%</td>
          <td>{{ avaliacao.observacoes }}</td>
          <td class="text-center">
            <button class="btn btn">
              <i class="bi bi-pencil-square"></i>
            </button>
          </td>
          <td class="text-center">
            <button class="btn">
              <i class="bi bi-trash3-fill p-1"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <app-alert-info
      *ngIf="avaliacoes.length === 0"
      [message]="
        'O aluno com ID ' +
        alunoId +
        ' ainda não possui avaliações cadastradas.'
      "
    >
    </app-alert-info>

    <button
      type="button"
      class="btn btn-secondary"
      id="btn-close"
      (click)="backHome()"
    >
      <i class="bi bi-x-lg"></i> Fechar
    </button>
  </div>
</div>
