ul > li{
  cursor: pointer;
}

ul {
  max-width: 15.4vw;
}

#tbl-endereco {
  max-width: 40vw;
}

#tbl-avaliacoes {
  max-width: 95vw;
  // margin-bottom: 15%;
}

.bi-pencil-square {
  color: rgb(104, 163, 104);
}
.bi-trash3-fill {
  color: rgb(163, 104, 104);
}

#btn-close {
  margin-right: 2rem;
}

#btn-create{
  margin: 0 0 0 0.5rem;
}

.alert-danger {
  margin: 1rem auto;
  max-width: 55%;
}
