<body>
    
    <section>
        <article id="first">
            <div class="firstText">
                <h1>DISCIPLINA É A PONTE <br> ENTRE METAS E <br> REALIZAÇÕES</h1>
                <p>SAIBA MAIS</p>
            </div>
        </article>    

        <article id="second">
            <div class="doctorImg">
                <img src="../../../assets/doctor.png" alt="Médico">
            </div>
            <div class="textDoctor">
                <h2>FAÇA SUA PRIMEIRA AVALIAÇÃO <br> FÍSICA DE GRAÇA</h2>
                <p>AVALIAÇÃO</p>
            </div>
        </article>
    </section>

</body>