$primary-color: #FF3B26;
$secondary-color: #040B25;
$text-color: #fff;

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section #first {
    background: url("../../../assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    font-weight: bold;
    margin-top: -1rem;
    
    .firstText {
        color: $text-color;
        margin: 7rem;
        
        > h1 {
            font-size: 2.7rem;
        }
        
        > p {
            padding: .6rem;
            border: .2rem solid $primary-color;
            border-radius: .6rem;
            width: 35%;
            font-size: 1.1rem;
            text-align: center;
            margin-top: 2rem;
            
            &:hover {
                cursor: pointer;
                background-color: $primary-color;
                border: .2rem solid $text-color;
                transition: .4s ease-in-out;
            }
        }
    }
}

#second {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    color: $text-color;
    font-weight: bold;
    text-align: center;
    padding-top: 6rem;
    
    h2 {
        font-size: 2.5rem;
    }
    
    p {
        padding: .6rem;
        background-color: $secondary-color;
        border-radius: .6rem;
        width: 35%;
        font-size: 1.1rem;
        text-align: center;
        margin: 2.2rem auto;
        
        &:hover {
            cursor: pointer;
            outline: .2rem solid $text-color;
        }
    }
}
