<p>home works!</p>
<a class="btn btn-outline-primary" [routerLink]="'/alunos'">Alunos</a>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus delectus blanditiis assumenda tempore, iste cumque! Nisi consectetur aperiam perferendis itaque dolorem eveniet voluptate libero ab beatae velit. Deleniti, eum quia! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod culpa dignissimos sapiente, eos asperiores quos debitis pariatur tenetur cumque corporis? Veritatis odio ratione quas quos ullam dolor odit fugit officia.</p>
