/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.min.css";

// $cor_laranja_forte: #FF3B26;

#ctn-loader {
  height: 75vh;
}

#btn-create {
  margin-left: 3rem;

  i {
    margin-right: 0.25rem;
  }
}