$cor_branco: #FFFFFF;
$cor_azul_escuro: #040B25;
$cor_laranja_forte: #FF3B26;

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

footer {
    background-color: $cor_azul_escuro;
    overflow: hidden;

    .footer {
        color: $cor_branco;
        padding: 6rem 0;
        display: flex;
        justify-content: space-evenly;

        p {
            line-height: 1.8rem;
            padding-top: 1rem;
        }

        &__title {
            font-size: 1.46rem;
            font-weight: 600;
            margin-bottom: 1.4rem;
        }

        &__list {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 1.5rem;
                line-height: 1.7rem;
            }

            a {
                color: $cor_branco;
                font-weight: 300;
                font-size: 1.2rem;
                text-decoration: none;
                transition: color 0.3s;

                &:hover {
                    color: $cor_laranja_forte;
                }
            }
        }

        &__rights {
            display: flex;
            justify-content: space-around;
            margin-top: -4rem;
            padding-bottom: 2.5rem;
        }

        &__copy {
            color: $cor_branco;
            font-size: 1rem;
            font-weight: 300;
        }

        &__terms-link {
            text-decoration: none;
            font-size: 1rem;
            font-weight: 300;
            color: $cor_branco;
            margin: 0 2rem;
            transition: color 0.3s;

            &:hover {
                color: $cor_laranja_forte;
            }
        }

        .logos__redes {
            margin-top: 1rem;
        }

        &__social {
            margin: 2rem 1.4rem 0 0;
            color: $cor_laranja_forte;
            transition: color .2s ease-in;
            font-size: 1.5rem;

            &:hover {
                color: $cor_branco;
            }
        }
    }
}
