<footer>
    <section class="footer">
        <div class="footer__col">
            <p>LOGO</p>
            <p>Disciplina é a ponte entre metas e <br>realizações. Venha para a Maromba’s Gym.</p>
            <div class="logos__redes">
                <a href="#" target="_blank" class="footer__social">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="#" target="_blank" class="footer__social">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="#" target="_blank" class="footer__social">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="#" target="_blank" class="footer__social">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
        </div>
        <div class="footer__col">
            <h3 class="footer__title">Sobre</h3>
            <ul class="footer__list">
                <li><a href="#">Quem somos</a></li>
                <li><a href="#">Nossa equipe</a></li>
                <li><a href="#">Clientes</a></li>
            </ul>
        </div>
        <div class="footer__col">
            <h3 class="footer__title">Empresa</h3>
            <ul class="footer__list">
                <li><a href="#">História</a></li>
                <li><a href="#">Valores</a></li>
                <li><a href="#">Responsabilidade social</a></li>
            </ul>
        </div>
        <div class="footer__col">
            <h3 class="footer__title">Suporte</h3>
            <ul class="footer__list">
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Política de privacidade</a></li>
            </ul>
        </div>
    </section>
    
    <div class="footer__rights">
        <p class="footer__copy">&#169; 2023 Maromba's Gym. Todos os direitos reservados.</p>
        <div class="footer__terms">
            <a href="#" class="footer__terms-link">Termos & Acordos</a>
            <a href="#" class="footer__terms-link">Política de privacidade</a>
        </div>
    </div>
</footer>